services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_NODENAME: rabbit@rabbitmq
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - mynet

  browser_app:
    build:
      context: /home/moosa/Browser
      dockerfile: Dockerfile
    container_name: browser
    restart: always
    networks:
      - mynet
    sysctls:
      net.ipv6.conf.all.disable_ipv6: 1
      net.ipv6.conf.default.disable_ipv6: 1

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - mynet

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest    
    container_name: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
    depends_on:
      - db
    networks:
      - mynet

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
      - /home/moosa/Juggernaut/openai_files:/upload_folder
    environment:
      - N8N_SECURE_COOKIE=false
      - GENERIC_TIMEZONE=America/Boise
      - TZ=America/Boise
      - N8N_BASIC_AUTH_ACTIVE=false
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - N8N_HOST=dev.bonomalim.com
      - N8N_PORT=5678
      - N8N_EDITOR_BASE_URL=http://dev.bonomalim.com:5678
      - WEBHOOK_URL=http://dev.bonomalim.com:5678
      - N8N_PROTOCOL=http
      - SERPI_API=${SERPAPI}
    depends_on:
      - browser_app 
    networks:
      - mynet

volumes:
  db_data:
  n8n_data:
  rabbitmq_data:

networks:
  mynet:
