aio-pika
aiormq
annotated-doc
annotated-types
anyio
beautifulsoup4
bs4
certifi
charset-normalizer
fastapi
greenlet
idna==3.11
markdownify
multidict
pamqp
pika
playwright
playwright-stealth
propcache
pydantic
pydantic_core
pyee
PyVirtualDisplay==3.0
requests
six
sniffio
soupsieve==2.8
starlette
typing-inspection
typing_extensions
urllib3
yarl
